.site-header {
    background: #929b7b;
    color: #fff;
    padding: 50px 50px;
}

main {
    background-color: black
}

.navFlex {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    align-items: center;
    height: 100px;
    /* background-color: lightgray; */
}

.menuItem {
    width: 70px;
    height: 70px;
    background-color: rgb(233, 130, 130);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero Content CSS */
.hero {
    height: 90vh;
    /* ViewPort Height*/
    background-image: url("img/heroImage.jpg");
    background-size: cover;
    /* Covers the entire section*/
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroContent {
    text-align: center;
    color: rgb(190, 103, 103);
}

.heroContent h1 {
    font-size: 48px;
}

.heroContent p {
    font-size: 20px;
    margin: 20px 0;
}

.heroButton {
    padding: 12px 25px;
    background: black;
    color: white;
    text-decoration: none;
}

/* About Us CSS */
.about {
    padding: 80px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.aboutContent {
    max-width: 800px;
    margin: 0 auto;
}

.gridServices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    background-color: black;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 20px;
}

.grid1 {
    background-color: rgb(164, 223, 223);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.grid2 {
    background-color: rgb(160, 180, 216);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.grid3 {
    background-color: rgb(226, 230, 209);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.grid1,
.grid2,
.grid3 {
    height: 400px;
    padding: 20px
}